
@{
    ViewData["Title"] = "ErrorPage";
}

<h1>ErrorPage</h1>
<h1>@ViewBag.Message</h1>

<h1>@ViewBag.Path</h1>

<h1>@ViewBag.QueryString</h1>




<h1>Exception</h1>
<h1>@ViewBag.ExMessage</h1>
<h1>@ViewBag.ExStackTrace</h1>
<h1>@ViewBag.ExPath</h1>

 


