@model IEnumerable<Student>

@{
    ViewData["Title"] = "Home Page";
}



<h3>Student List</h3>
<a asp-controller="Student" asp-action="Create" class="btn btn-primary">Create Student</a>
<table class="table table-bordered bg-light">
    <thead>
        <tr>
            <th>Id</th>
            <th>Name</th>
            <th>Course</th>
            <th>Subject</th>
            <th>Photo</th>
            <th>Action</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            var PhotoPath = "images/" + item.Photo;
        <tr>
            <td>@item.Id</td>
            <td>@item.Name</td>
            <td>@item.Course</td>
            <td>@item.Subject</td>
            <td><img style="width:200px; height:100px;" src="@PhotoPath" asp-append-version="true" /></td>
            <td>
                <a href="~/Student/Details/@item.Id" class="btn btn-primary">View</a>
                <a href="~/Student/Edit/@item.Id" class="btn btn-primary">Edit</a>
                <a href="~/Student/Delete/@item.Id" class="btn btn-danger">Delete</a>
            </td>
        </tr>
        }
    </tbody>
</table>
